* {
    padding: 0px;
    margin: 0px;
}

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 60px;
    flex: 1;
}

.footer {
    justify-content: center;
    align-items: center;  
    height: 100px;  
    font-size: 18px;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header .nav {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 24px;
}

a {
    text-decoration: none;
  }

.hero {
    display: flex;
    justify-content: center;
}

.hero .container {
    max-width: 500px;
}

.hero .img-container {
    background-color: pink;
    height: 250px;
    width: 500px;
}

